In [1]:
import pptk
import numpy as np
import pandas as pd


# Wrapper for pandas.read.csv()
def read_points(f):
    # reads Semantic3D .txt file f into a pandas dataframe
    col_names = ['x', 'y', 'z', 'i', 'r', 'g', 'b']
    col_dtype = {'x': np.float32, 'y': np.float32, 'z': np.float32, 'i': np.int32,
                  'r': np.uint8, 'g': np.uint8, 'b': np.uint8}
    return pd.read_csv(f, names=col_names, dtype=col_dtype, delim_whitespace=True)

def read_labels(f):
    # reads Semantic3D .labels file f into a pandas dataframe
    return pd.read_csv(f, header=None)[0].values

In [2]:
if __name__=='__main__':
    points = read_points('bildstein_station1_xyz_intensity_rgb.txt')
    labels = read_labels('bildstein_station1_xyz_intensity_rgb.labels')

    # v = pptk.viewer(points[['x', 'y', 'z']])
    # v.attributes(points[['r', 'g', 'b']] / 255., points['i'])
    # v.set(point_size=0.001)

    mask = labels != 0
    P = points[mask]
    L = labels[mask]
    v = pptk.viewer(P[['x', 'y', 'z']])
    v.attributes(P[['r', 'g', 'b']] / 255., P['i'], L)
    v.set(point_size=0.001)

In [13]:
indices = v.get('selected')

In [14]:
print(indices)

[3335584]

In [6]:
print(type(indices[0]))

<class 'numpy.int32'>

In [7]:
points

                  x          y       z     i    r    g    b
0         20.622999  40.276001  -1.999 -1031  127  141  154
1         20.362000  40.375000  -2.239  -941  130  141  159
2         20.360001  40.375999  -2.402 -1083  139  151  165
3         20.374001  40.367001  -2.405 -1122  131  147  163
4         20.372000  40.366001  -2.405 -1165  132  145  161
...             ...        ...     ...   ...  ...  ...  ...
29697586  60.185001  82.120003  11.030 -1550   74   88  114
29697587  60.042999  81.584000  11.039 -1539   84   90  124
29697588  60.122002  81.777000  11.115 -1760  129  141  165
29697589  60.088001  81.818001  11.054 -1625   90   96  128
29697590  60.196999  82.137001  11.085 -1619  134  140  172

[29697591 rows x 7 columns]

In [12]:
points.iloc[1][2]

-2.239000082015991